@model UserLoginModel
@{
    ViewData["title"] = "Login";
}
<h1>Login</h1>
<form asp-action="Login" asp-controller="Account" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="All"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
    </label>
    <br />
    <input type="submit" value="Log In" />
</form>
